@model MyClass.Model.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            MÃ KHÁCH HÀNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_KH.id_KH)
        </dd>

        <dt>
            NGÀY LẬP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayLap)
        </dd>

        <dt>
            NGÀY GIAO HÀNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayGiaoHang)
        </dd>

        <dt>
            TỔNG TIỀN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongTien)
        </dd>

        <dt>
            TÌNH TRẠNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhTrang)
        </dd>

        <dt>
            TÊN NHÂN VIÊN GIAO HÀNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenNVGiaoHang)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 my-3">
            <p class="btn btn-primary"> @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.soDH })</p>
            <a href="@Url.Action("Index","DonHang")" class="btn btn-success">Quay lại</a>
        </div>
    </div>
</div>
