@model MyClass.Model.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_KH.id_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_KH.id_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayGiaoHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenNVGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenNVGiaoHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.soDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
