@model MyClass.Model.Giay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Giay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiGiay.tenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiGiay.tenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenGiay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenGiay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chiTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chiTiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maGiay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
