@model MyClass.Model.User_NV

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>THÊM NHÂN VIÊN</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.id_NV, "id_NV", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_NV", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_NV, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-10">
                LOẠI NHÂN VIÊN
                @Html.DropDownList("id_LoaiNV", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_LoaiNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                NGÀY BẮT ĐẦU LÀM
                @Html.EditorFor(model => model.ngayBDLam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngayBDLam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                HỆ SỐ LƯƠNG
                @Html.EditorFor(model => model.heSoLuong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.heSoLuong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                NGÀY SINH
                @Html.EditorFor(model => model.ngaySinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                SỐ CMND
                @Html.EditorFor(model => model.soCMND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.soCMND, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 my-3">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                <a href="@Url.Action("Index","User_NV")" class="btn btn-success">Quay lại</a>

            </div>
        </div>
    </div>
}

