@model MyClass.Model.User_NV

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User_NV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiNV.tenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiNV.tenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayBDLam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayBDLam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heSoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heSoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soCMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soCMND)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
