@model MyClass.Model.User_NV

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <h4>THÔNG TIN NHÂN VIÊN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            HỌ TÊN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.fullName)
        </dd>

        <dt>
            LOẠI NHÂN VIÊN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiNV.tenLoai)
        </dd>

        <dt>
            NGÀY BẮT ĐẦU LÀM
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayBDLam)
        </dd>

        <dt>
            HỆ SỐ LƯƠNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heSoLuong)
        </dd>

        <dt>
            NGÀY SINH
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>

        <dt>
            SỐ CMND
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soCMND)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 my-3">
            <p class="btn btn-primary"> @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.id_NV })</p>
            <a href="@Url.Action("Index","User_NV")" class="btn btn-success">Quay lại</a>
        </div>
    </div>
</div>

