@model MyClass.Model.KhuyenMai

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <h4>THÔNG TIN KHUYẾN MÃI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            TỪ NGÀY
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tuNgay)
        </dd>

        <dt>
            ĐẾN NGÀY
        </dt>

        <dd>
            @Html.DisplayFor(model => model.denNgay)
        </dd>

        <dt>
            GIÁ KHUYẾN MÃI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaSale)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 my-3">
            <p class="btn btn-primary"> @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.id_KM })</p>
            <a href="@Url.Action("Index","KhuyenMai")" class="btn btn-success">Quay lại</a>
        </div>
    </div>
</div>

